*{margin: 0;padding: 0;}
ul,li{list-style: none;}
img{border:0;}
body{
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
	color: #5e5e5e;
	background: url(images/background-1.jpg);
}
a{ text-decoration: none;cursor: pointer; color: #3c98ca;}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
color: inherit;
text-decoration: none!important;
}

.fixed{
	position: fixed;
	z-index: 999;
	left: 0px;
}

.left{
	display: block;
	float: left;
}
.right{
	display: block;
	float: right;
}

.clear-float{
	clear: both;
}

.mainbox{
	width: 1250px;
	height: 100%;
	margin: auto;
	background: #fefefe;
	background: rgba(255,255,255,0.95);
	box-shadow: 0 0px 10px rgba(0,0,0,0.2);
	position: relative;
}
.header{
	width: 100%;
	height: auto;
	padding:20px 0 0 0;
	margin: 0 0 40px 0;
	
}
.wrapper {
	width: 1190px;
	height: auto;
	overflow: hidden;
	margin: 0px auto;
	position: relative;
}

.header-left {
	background: #1a1a1a url(../images/header-logo-back.png) no-repeat top center;
	background-size: 100% auto;
	width: 237px;
	height: 115px;
	float: left;
	text-align: center;
}

.header-logo {
	display: block;
	margin: 12px 27px;
	padding-bottom: 12px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	position: relative;
}


.header-socials {
	margin: 12px 27px;
	text-align: center;
}
.header-socials a {
	font-size: 14px;
	/*display: block;*/
	/*float: left;*/
	padding: 0 7px;
	color: #fff;
}




.header-right{
	background: #3c98ca;
	color: #fff;
	width: 952px;
	height: 115px;
	float: left;
}

.main-menu {
	width: 100%;
	height: 75px;
	overflow: hidden;
	z-index: 100;
	position: relative;
}


 .under-menu {
	width: 100%;
	height:40px;
	overflow: hidden;	
	background: rgba(255,255,255,0.13);
	clear: both;
	line-height: 40px;
	z-index: 99;
	position: relative;
}
.main-menu>ul {
	width: 100%;
	position: relative;
}
.main-menu li {
	display: block;
	float: left;
	position: relative;
}
.main-menu >ul>li:hover{
	background-color: #1e1e1e;
}
.main-menu > ul > li > a {
	display: block;
	padding: 20px;
	color: #fff;
	text-decoration: none;
	z-index: 2;
	position: relative;
	background: inherit;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 500;
}
.main-menu li > a i {
	font-size: 0.6em;
	font-weight: 300;
	font-style: normal;
	display: block;
	line-height: 150%;
}
.main-menu li a > span {
	padding-right: 18px;
	display: block;
	position: relative;
}
.main-menu li a > span:after {
	display: block;
	font-family: "FontAwesome";
	content: "\f107";
	position: absolute;
	right: 0px;
	top: 0px;
}
.search-header {
	width: 86px;
	height: 72px;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
}
#searchtxt{
	display: block;
	
	background: transparent;
	z-index: 3;
	border: 0;
	position: absolute;
	top: 0px;
	height: 72px;
	padding: 0;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #fff;
	width: 0px;
	right: 86px;
	line-height: 72px;
	vertical-align: middle;
}


#searchbtn{
	width: 86px;
	height: 72px;
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 2;
	line-height: 72px;
	border: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	background: url(images/searchbtn.png);

}

 .under-menu {
	display: block;
	background: rgba(255,255,255,0.13);
	clear: both;
	line-height: 40px;
	z-index: 99;
	position: relative;
}
.under-menu>ul>li{
	display: block;
	float: left;
}
.under-menu li a{
	padding: 0px 20px;
	display: block;
	color: #fefefe;
	font-size: 0.86em;
	border-right: 1px solid #fefefe;
}
.under-menu li:hover > a {
	background: #1a1a1a;
	color: #fff!important;
}
















.content{
	width: 100%;
	height: auto;
	overflow: hidden;
}


.ot-slider{
	width: 1190px;
	height: 378px;
	margin-bottom: 40px;
	position: relative;
}
.sliderArea{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.prevPic{
	width: 30px;
	height: 30px;
	background-color: red;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 10px;
	z-index: 5;
}

.prev{
	width: 30px;
	height: 30px;
	background-color: blue;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 10px;
	z-index: 5;
}
.nextPic{
	width: 30px;
	height: 30px;
	background-color: red;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 10px;
	z-index: 5;
}

.next{
	width: 30px;
	height: 30px;
	background-color: blue;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 10px;
	z-index: 5;
}

.slideContainer{
	width: 1000%;
	overflow: hidden;
}
.slideItem{
	width: 1190px;
	height: 360px;
	float: left;
}
.slide-layer{
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
}
.slide-layer a{
	color: #fefefe;
}
.slide-layer strong{
	bottom: 30px;
	left: 30px;
	right: 30px;
	position: absolute;
	font-size: 1.9em;

}
.first{
	width: 516px;
	height: 367px;
	margin-right: 9.9px;
	
}
.second{
	width: 247px;
	height: 368px;
	margin-right: 9.9px;
	
}
.second a strong {
	font-size: 1.3em;
}
.third{
	width: 406px;
	height: 180px;
	margin-bottom: 8px;

}
.third a strong {
	font-size: 1.32em;
}
.fourth{
	width: 406px;
	height: 180px;
}
.fourth a strong {
	font-size: 1.32em;
}



.left-content{
	width: 829px;
	height: auto;
	
	overflow: hidden;
	float: left;
}

.home-block{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 40px;
	border-bottom: 1px dotted #ccc;
}
.main-title {
	border-left: 4px solid #3c98ca;
	display: block;
	margin-bottom: 40px;
	padding: 4px 18px 10px 18px;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #444444;
}
.main-title h2 {
	font-size: 2em;
	font-weight: 800;
	color: #444444;
	letter-spacing: -2px;
}
.main-title span {
	color: #999999;
}
.main-title >.button {
	font-size: 0.8em;
	line-height: 150%;
	margin-top: 10px;
	display: inline-block;
	padding: 8px 17px;
	
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 2px;	
	margin-right: -17px;
	
	
}
.main-title >.button:hover{
	
	color: #fff;
}

.button1{
	color: #3c98ca;
	border: 1px solid #3c98ca;
}
.button1:hover{
	background: #3c98ca;
}


.button2{
	color: #A161DD;
	border: 1px solid #A161DD;
}
.button2:hover{
	background: #A161DD
}

.button3{
	color:  #ef8722;
	border: 1px solid  #ef8722;
}
.button3:hover{
	background: #ef8722;
}






.right {
	float: right;
}
.article-list-block {
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
}
 .item:nth-child(3n+1) {
	margin-left: 0px;
	clear: both;
}

.item {
	display: block;
	float: left;
	margin-left: 16px;
	width: 256px;
	margin-bottom: 40px;
}
.item-header {
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
	margin-bottom: 15px;
}
img {
max-width: 100%;
height: auto;
}

.content-category{
	display: block;
	margin-bottom: 8px;
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
}

.item-content h3 {
display: block;
margin-bottom: 12px;
font-size: 1.7em;
color: #444444;
font-weight: 500;
font-family: 'PT Sans Narrow', sans-serif;
}
.item-content p{
	line-height: 150%;
	margin-bottom: 15px;
}

.read-more-link {
	display: inline-block;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 100%;
}

.paragraph-row{
	display: block;
	clear: both;
	position: relative;
	margin-bottom: 15px;
}
.category-default-block {
	display: block;
	padding-bottom: 30px;
	overflow: hidden;
}

.colum6 {
	width: 406px;
	
}
.smaller-articles{
	padding-left:15px; 
	width: 390px;
	height: auto;
	overflow: hidden;
}
.item-main{
	width: 100%;
	height: auto;
}
.item-main .item-header {
	display: block;
	margin-bottom: 15px;
}
.item-main .item-header img {
	display: block;
	max-width: 100%;
	height: auto;
}

.item1{
	width: 390px;
	height: 85px;
	padding-bottom:15px; 
	margin-bottom: 15px;
	border-bottom: 1px dotted #ccc;
}



.itemspacial{
	border: 0;
	margin-bottom: 0;
	padding-bottom:0;
	
}

.item1left{
	float: left;
	width: 61px;
	height: 63px;
}
.item1-right{
	float: right;
	width: 314px;
	height: 85px;

}
.item1-right h3{
	display: block;
	margin-bottom: 8px;
	font-size: 1.3em;
	color: #444;
	font-weight: 500;
	font-family: 'PT Sans Narrow', sans-serif;
}

.article-review-block {
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
	margin-bottom: 40px;
}



.article-review-block .item:nth-child(3n+1) {
	clear: both;
	margin-left: 0px;
}

.article-review-block .item {
	width: 268px;
	margin-left: 8px;
	float: left;
}

.article-review-block .item a {
	display: block;
	color: white;
	position: relative;
}

.article-review-block .item a > span {
	display: block;
	position: absolute;
	z-index: 5;
	bottom: 30px;
	left: 30px;
	right: 30px;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: -1px;
	text-transform: uppercase;
	line-height: 120%;
}
.article-links-block .item:nth-child(3n+1) {
	margin-left: 0px;
	clear: both;
}

.article-links-block .item {
	display: block;
	float: left;
	margin-left: 15px;
	width: 260px;
	margin-bottom: 40px;
}
.article-links-block .item > h3 {
	display: block;
	font-size: 1.4em;
	margin-bottom: 15px;
	padding-bottom: 13px;
	line-height: 100%;
	color: #EF8722;
	border-bottom: 3px solid #EF8722;
	text-transform: uppercase;
}

.article-links-block .item .post-item {
	display: block;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #CCC;
}

.article-links-block .item .post-item .itemdate {
	color: #B4B4B4;
	line-height: 1.7em;
	margin-right: 10px;
	display: inline-block;
}

.article-links-block .item .post-item h3 {
	font-weight: 300;
	color: #232323;
	font-size: 1.4em;
	font-family: 'PT Sans Narrow', sans-serif;
}

.article-links-block .item .item-details {
	display: block;
	padding-top: 15px;
}

.article-links-block .item .item-details .item-head {
	display: block;
	margin-bottom: 15px;
}



.article-links-block .archive-button {
	margin-top: 20px;
	margin-bottom: 0px;
}
.archive-button {
	display: block;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	background: #232323;
	padding: 15px 15px;
	text-decoration: none!important;
	color: white!important;
	margin-top: -16px;
	position: relative;
	z-index: 2;
	margin-bottom: 25px;
	text-align: center;
	border-radius: 2px;
}


.woocommerce::after {
	clear: both;
	content: '';
	display: block;
}
.woocommerce .products {
	padding-left: 0px;
	padding-top: 0px;
	clear: both;
	margin-top: -20px;
}
.woocommerce .products .product:nth-child(4n+1) {
	clear: both;
	margin-left: 0px;
}
 .products .product {
	list-style: none;
	float: left;
	width: 185px;
	margin-left: 22px;
	position: relative;
	text-align: center;
	margin-top: 20px;
	overflow: hidden;
}
.woocommerce .products img {
	margin-bottom: 12px;
	width: 100%;
	max-width: 100%;
}


.products .product a:first-child {
	text-decoration: none;
	display: block;
	margin-bottom: 12px;
	color: #232323;
	overflow: hidden;
}
.products .price {
	float: left;
	clear: both;
}

.products .price del {
	display: inline-block;
	padding-right: 5px;
	color: #AAA;
	font-size: 0.9em;
	line-height: 1.2em;
}
ins {
	text-decoration: none;
}
.woocommerce .products .product h3 {
	display: block;
	font-size: 1.5em;
	margin-bottom: 10px;
	font-weight: normal;
	text-align: left;
	font-family: 'PT Sans Narrow', sans-serif;
}

.woocommerce .products .product a.button {
	display: block;
	margin-bottom: 10px;
	font-size: 0.8em!important;
	margin: 0 2px 5px 0;
	display: inline-block;
	padding: 8px 17px;
	color: white!important;
	background: #E34922;
	text-decoration: none!important;
	text-transform: uppercase;
	border-radius: 2px;
	border: 0px;
	cursor: pointer;
	float: left;
}

.home-featured-article {
	width: 100%;
	height: 409px;
	
	display: block;
	position: relative;
	margin-bottom: 40px;
}

.home-featured-article .home-featured-item.active {
	position: relative;
	left: 0px;
	top: 0px;
	visibility: visible;
}

.home-featured-article .home-featured-item {
	display: block;
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	text-decoration: none;
	min-height: 220px;
}






 .feature-text {
	display: block;
	position: absolute;
	width: 580px;
	text-align: center;
	padding-bottom: 70px;
	padding-top: 70px;
	bottom: 0px;
	padding-left: 124px;
	padding-right: 124px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.7);
	box-shadow: inset 0 -380px 110px -200px rgba(0,0,0,0.7);	
}

.feature-text strong {
	display: block;
	margin-bottom: 15px;
	font-size: 2.6em;
	font-family: 'PT Sans Narrow', sans-serif;
}

 .feature-text span {
	display: block;
	font-size: 1.2em;
	line-height: 150%;
}

.home-featured-menu {
	display: block;
	z-index: 4;
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	text-align: center;
	height: 20px;
	position: relative;
	top: -35px;
	
}
 .control {
	display: inline-block;
	width: 12px;
	height: 12px;
	line-height: 12px;
	font-size: 12px;
	overflow: hidden;
	color: transparent;
	background: transparent;
	
	border:4px solid #fff;
	border-radius: 50%;

	margin-left: 2px;
	margin-right: 2px;
}

.selected{
	background-color: #fff;
}

.article-content{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

 .banner {
 	width: 100%;
 	height: auto;
 	overflow: hidden;
	text-align: center;
	padding-bottom: 40px;
}

.banner2 {
 	width: 100%;
 	height: auto;
 	overflow: hidden;
	text-align: center;
}
.accordion>div{
	
	height: auto;
	border-radius: 2px;
	
	margin-bottom: 10px;
	border: 1px solid #ccc;

	position: relative;
}
.accordion>div>strong{
	display: block;
	height: 12px;
	width: 12px;
	display: block;
	top: 18px;
	right: 0;
	z-index: -1;
	position: absolute;
}
.accordion > div > a {
	font-weight: bold;
	font-size: 16px;
	display: block;
	padding: 15px;
	color: #363635;
}
.accordion > div > a:hover{
	color: #3c98ca;
}




.accordionItemContent {
	width: auto;
	height: auto;
	padding: 15px;
	border-top: 1px dotted #cccccc;
	margin-top: 15px;
	display: none;
}

.accordionItemContentshow{
	display: block;
}

.accordionItemContent p{
	margin-bottom: 15px;
	font-size: 1.15em;
	color: #737373;
}
.wp-caption{
	width: auto;
	height: auto;
	border: 1px solid #eee;
	padding: 8px;
}
.wp-caption img {
	margin-bottom: 10px;
	max-width: 100%;
	height: auto;
}
.wp-caption-text{
	text-align: center;
	color: #737373;
	font-size: 14px
}


#sidebar{
	width: 300px;
	height: auto;
	float: right;
	overflow: hidden;
}


 #sidebar .widget {
	display: block;
	width: auto;
	height: auto;
	overflow: hidden;
	margin-bottom: 35px;
	position: relative;
}
#sidebar .widget > h3 {
display: block;
padding: 11px 16px;
color: #444444;
font-weight: 600;
font-size: 1.3em;
background-color: #E4E4E4;
border-left: 3px solid #3c98ca;
text-transform: uppercase;
}


.article-block{
	width:auto;
	height: auto;
	overflow: hidden;
	padding: 25px 0;
	border-bottom: 1px dotted #ccc;
}

.sidebaritem{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.sidebaritem-header{

}
.sidebaritem-content{
	width: 210px;
	height: auto;
}


.photo-gallery-widget{
	padding: 0 0 25px 0;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.gallery{
	padding: 25px 0;
	border-bottom: 1px dotted #ccc;
	position: relative;
}

.galleryitem{
	width: 1000%;
	height: auto;
	overflow: hidden;
}
.galleryItemPic{
	float: left;
	width: 300px;
	height: 247px;
}

.photo-gallery-widget h4 {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 1.6em;
	font-family: 'PT Sans Narrow', sans-serif;
}


.subscribe-feed{
	padding: 25px 0;
	width: 100%;
	height: auto;
	 border-bottom: 1px dotted #ccc;
}

.coloralert {
	display: block;
	background: #f0f0f0;
	margin-top:15px;
	margin-bottom: 15px;
	color: #232323;
	overflow: hidden;
	padding: 11px 25px 11px 15px;
	font-size: 0.9em;
	border-radius: 2px;
	border: 1px solid #ccc;
	text-shadow: 0 1px 0 #fff;
	position: relative;

}

.coloralert > i.fa {
	position: absolute;
	/* margin-top: 3px; */
	font-size: 35px!important;
	color: #D3D3D3;
	text-shadow: none;
}

.coloralert > p {
position: relative;
margin-left: 44px;
}

.coloralert > a[href='#close-alert'] {
	position: absolute;
	right: 0px;
	top: 0px;
	display: block;
	padding: 13px 15px;
	color: #ccc;
	font-size: 14px;
	line-height: 100%;
}
.sub-name{
	overflow: hidden;
}

.u_name,.u_email{
	display: block;
	width: 268px;
	color: #232323;
	padding: 10px 15px;
	margin-bottom: 5px;
	border-radius: 2px;
	border: 1px solid #ccc;
	
}

.sub-submit{
	height: auto;
	width: auto;
	overflow: hidden;
}
.subscribe-feed .button {
	display: block;
	float: left;
	width: 105px;
	height:35px;
	color: #fff;
	border: 0px;
	padding: 10px 0px;
	cursor: pointer;
	background: #b1b1b1;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.12);
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.tagcloud{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 25px 0;
	border-bottom: 1px dotted #ccc;
}

.widget .tagcloud a {
	font-size: 0.8em!important;
	margin: 0 2px 5px 0;
	display: inline-block;
	padding: 7px 10px;
	color: #fff!important;
	background: #e34922;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 120%;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.12);
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.sidebar-fixed {
position: relative;

-webkit-transition: padding-top 0.1s;

}


.socialize-widget{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 25px 0;
	border-bottom: 1px dotted #ccc;
	position: relative;
}
.ot-social-block{
	margin-top:15px;
	width: 100%;
	height: auto;
	overflow: hidden;
}


.soc-link:nth-child(4n+1){
	margin: 0;
}


.soc-link {
	display: block;
	text-transform: uppercase;
	text-decoration: none!important;
	text-align: center;
	font-weight: 700;
	font-size: 1em;
	color: #232323;
	float: left;
	width: 66px;
	margin-left: 8px;
}


.soc-link strong {
	display: block;
	background: #232323;
	color: #fff;
	font-size: 1.5em;
	margin-bottom: 8px;
	padding: 10px 0;
	position: relative;
}
.soc-link strong:after {
display: block;
position: absolute;
left: 50%;
margin-left: -4px;
bottom: -3px;
width: 8px;
height: 8px;
background: inherit;
content: '';
transform: rotate(45deg);
}


.soc-link.soc-facebook strong {
	background: #3b5998;
}
.soc-link.soc-twitter strong {
	background: #00aced;
}
.soc-link.soc-google strong {
	background: #dd4b39;
}
.soc-link.soc-linkedin strong {
	background: #007bb6;
}


.soc-link.soc-facebook {
	color: #3b5998;
}
.soc-link.soc-twitter {
	color: #00aced;
}
.soc-link.soc-google  {
	color: #dd4b39;
}
.soc-link.soc-linkedin  {
	color: #007bb6;
}


.soc-link strong small {
	display: block;
	font-size: 0.45em;
}
.soc-link > span {
	font-size: 0.7em;
}



.footer{
	width: 100%;
	height: auto;
	margin:40px 0 0 0;
	background: #1D1D1D url(images/header-logo-back.png) no-repeat top center;
	overflow: hidden;
	background-size: 100% auto;
	color: rgba(255,255,255,0.4);
}
 .footer-widgets {
	display: block;
	padding: 25px 0;
}
.footer .widget:nth-child(3n+1) {
	clear: both;
	margin-left: 0px;
}
.footer .widget {
	display: block;
	float: left;
	width: 350px;
	margin-left: 45px;
	background: transparent!important;
}
.footer .widget > h3 {
	display: block;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.7em;
	font-weight: 900;
}

.footer .widget .list-group li {
	color: #fff;
}
.widget .list-group li {
	display: block;
	padding-top: 12px;
	font-size: 1.1em;
	padding-left: 35px;
	position: relative;
	line-height: 150%;
}

.widget .list-group li i.fa {
	margin-right: 10px;
	position: absolute;
	left: 0px;
}
.footer .socialize-widget{
	padding-top: 0;
	border: 0;
}

.footer .widget > .ot-tabbed:after, .footer .widget > h3:after {
	display: block;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	height: 2px;
	background: transparent;
	content: '';
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	opacity: 0.2;
}


.footer .widget > .ot-tabbed {
	display: block;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	height: 28px;
}

.footer .widget > .ot-tabbed h3 {
	font-size: 1.2em;
	font-weight: 300;
	display: inline-block;
	vertical-align: bottom;
	cursor: pointer;
	float: right;
	line-height: 1.9em;
	color: rgba(255,255,255,0.5);
}


.footer .widget > .ot-tabbed h3.active {
	font-size: 1.7em;
	line-height: 1.2em;
	font-weight: 900;
	display: inline-block;
	float: none;
	color: #fff;
	position: absolute;
}

.comments-block{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.fotteritem-header{
	width: 60px;
	height: 60px;
}
.footeritem-content{
	width: 277px;
	height: auto;
	overflow: hidden;
}

.comments-block .footeritem-content h4 {
	margin-bottom: 5px;
	color: #444444;
	font-size: 1.5em;
	font-weight: 500;
	font-family: 'PT Sans Narrow', sans-serif;
}
.comments-block .footeritem-content p {
	line-height: 150%;
	margin-bottom: 6px;
	font-size: 1em;
}

.footeritem{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 25px;

}


.footer a {
	color: #fff;
}

.footer .widget .tagcloud {
	border: 0px;
}

.footer .widget .tagcloud a {
	color: #000!important;
	background: #808080;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.12);
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}