*{margin: 0;padding: 0;}
ul,li{list-style: none;}
img{border:0;}
a{text-decoration: none;}
body{font: 12px/1.75 Tahoma,Arial,sans-serif;}
body {
color: #333;
background: #73CFF1 url(images/wrapbg_v0.0.1.jpg) center top no-repeat;
}

input,textarea{
	outline: none;
	resize: none;
}

.clear::after{
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}

.w_head_outer{
	z-index: 500;
	position: fixed; 
	width: 100%;
	height: 35px;
	box-shadow: 0 2px 3px rgba(0,0,0,.12);
	opacity: .9;
	border-bottom: #2596c2 1px solid;
	background-color: #36a4d2;
	background: -webkit-gradient(linear,left top,left bottom,from(#45addd),to(#279cc8));
}
.headWrap{
	height:35px; 
	width: 960px; 
	margin: auto;
}
.headInside{
	height:35px; 
	width: 960px; 
}
.weibologo {
	display:block;
	float: left;
	width: 120px;
	height: 35px;
	background: url(images/nav_logo_default131128.png) no-repeat;
}
#topNav1{
	width: 340px;
	height: 35px;
	margin-left: 10px;
	float: left;
}
.topNavItem{
	display: block;
	float: left;
	height: 35px;
	line-height: 35px;
	margin-right: 1px;
}
.active{
	background-color: #006a92;
}
.topNavItem:hover{
	background-color: #006a92;
}
.topNavItem a{
	padding-top:11px;
	padding-left: 10px;
	padding-right: 10px;
	height: 12px;
	color: #fefefe;
	font-size: 12px;
	text-decoration: none;
}
.ico_hot_mini {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-top: 9px;
	vertical-align: top;
	background: url(images/b2_20131129.png) no-repeat;
	background-position: -202px -176px;
}
#topNav2{
	float: left;
	margin-left: 100px;
}

.qk_nav_item a {

	display: block;
	position: relative;
	padding: 0;
	width: 36px;
	height: 28px;
	cursor: pointer;
	float: left;
	padding-top: 7px;
}

.t{
	display: block;
	width: 20px;
	height: 20px;
	margin: auto;
	background: url(images/icons_20130704.png) no-repeat;
}

.at .t {
	
	background-position: 0 0;
}
.message .t {
	background-position: -20px 0;
}
.fans .t{
	background-position: -40px 0;
}

.notice .t{
	background-position: -60px 0;
}
.tSearchNew {
	width: 162px;
	height: 23px;
	float: right;
	margin-top: 6px;
}
.inputNew{
	float: left;
	width: 125px;
	padding-left: 7px;
	height: 23px;
	border: 0;
	border-radius: 2px 0 0 2px;
}
.inputBtn {
	width: 23px;
	height: 23px;
	margin: 0;
	float: left;
	text-indent: -9999em;
	border: 0;
	cursor: pointer;
	background: url(images/head_search_20120517.png) no-repeat;
	background-position: 0 0;
	border-radius: 0 2px 2px 0;
}


.right_top_conner{
	position: absolute;
	top:0; 
	right: 0;
	width: 57px; 
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	text-align: center;
}
.right_top_conner a{
	text-decoration: none;
	display: block;
	width: 57px;
	height: 35px;
	color: #fefefe;
}
.right_top_conner:hover{
	background-color: #006a92;
}

#topWrap {
	padding-top: 55px;
}
#mainWrapper {

width: 960px;
min-height: 900px;
margin: 0 auto;
border-radius: 5px 5px 0 5px;
background-color: #C9F1FF;
position: relative;
}
.main{
	width: 640px;
	min-height: 900px;
	float: left;
	overflow-y:visible;
	border-right: 1px solid #BBDAE3;
	border-radius: 5px 0 0 5px; 
	background: white;
}
.talkBox{
	padding: 0 30px 10px 30px;
	border-radius: 5px 0 0 0;
	margin-bottom: 10px;
	position: relative;
}
.talkBox h2 {
	height: 30px;
	overflow: hidden;
	padding: 10px 5px 0;
	font: normal 16px/31px "MicroSoft YaHei","SimHei";
	color: #999;
}
.talkBox h2 label{
	float: left;
}
.talkBox h2 .tit_topic {
	font-size: 12px;
	float: right;
	color: #889DB6;
	text-decoration: none;
}
.talkBox h2 .tit_topic:hover{
	text-decoration:underline;
}
.sendCnt {
	border: 1px solid #D0D0D0;
	line-height: 1.231;
	border-radius: 3px;
	position: relative;
}
.talkBox .cntBox {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: white;
	border-radius: 3px 3px 0 0;
}
.talkBox .cntBox textarea{
	width: 97.9%;
	height: 63px;
	padding: 3px 1%;
	margin: -1px auto 0;
	overflow-y: auto;
	font: normal 14px/21px Tahoma,Arial;
	border: 0;
	border-radius: 8px 8px 0 0;
	background: transparent;
	outline: none;
	resize: none;
}
.talkBox .countTxtBox_v3 {
	
	height: 18px;
	padding-right: 10px;
}
.talkBox .countTxt {
	color: #999;
	float: right;
}

.insertFun {
	background: white;
	padding: 6px 0 4px;
	width: 100%;
	/*height: 30px;*/
}

.insertFun .sendList {
	position: relative;

	float: left;
	/*min-width: 45px;*/
	margin: 0px 6px 0 0;
}
.insertFace {
	margin-left: 4px;
}
.insertFun .sendList .txt, .insertFun .more {
	display: inline-block;
	position: relative;
	height: 16px;
	height: 14pxurl(0);
	padding-left: 19px;
	padding-bottom: 5px;

	color: #999;
	text-decoration: none;
}


.insertFun .sico {
	position: absolute;
	left: 0;
	top: 3px;
	cursor: pointer;
}
.sico{
	background: url(images/b1_20140716.png) no-repeat;
}
.ico_face {
	float: right;
	width: 16px;
	height: 16px;
	background-position: -120px -33px;
}
.ico_pic {
	float: right;
	width: 16px;
	height: 16px;
	background-position: 0 -33px;
}

.ico_at {
	float: right;
	width: 16px;
	height: 16px;
	background-position: -144px -33px;
}
.ico_feel {
	float: right;
	width: 16px;
	height: 16px;
	width: 16px;
	background-position: -168px -53px;
}
.ic_baoliao {
	float: right;
	width: 16px;
	height: 16px;
	background-position: -272px -184px;
}
.ic_picVote {
	float: right;
	width: 16px;
	height: 16px;
	background-position: -225px -201px;
}

.sendFun {
	height: 30px;
	overflow: hidden;
	float: right;
}
.btnHasStr {
	float: right;
	color: #999;
	line-height: 33px;
	overflow: visible;
	width: 85px;
	height: 27px;
	background: url(images/b1_20140716.png) no-repeat;
	background-position: 0 0;
	border: 0;
	cursor: pointer;
}
.btnHasStr:hover{
	background-position: -85px 0;
}

.main_bn{
	height: 92px;
	width: 640px;
	margin-bottom: 13px;
	padding: 0 0 10px;
	position: relative;

}
.adclose{
	width: 17px;
	height: 28px;
	position: absolute;
	right: 5px;
	top: -8px;
	color: #CFCFCF;
	font-size: 16px;
	font-weight: bold;
	font-family: Simsun;
	text-shadow: 1px 1px 1px #fff;
	cursor: pointer;
	z-index: 3;
}
.main_bn_in {
	position: relative;
	padding-left: 30px;
}

.main_bn_stage {
	width: 580px;
	height: 90px;
	overflow: hidden;
	position: relative;
}
.slideArea{width: 1000%; height: 90px;overflow: hidden;}
.slidePic{width: 580px;height: 90px;float: left;}
.slideControlArea{
	width: 100px;
	height: 13px;
	position: absolute;
	bottom: 10px;

}

.slideControlArea span{
	display:block;
	float: left;
	width: 13px;
	height: 13px;
	background-color: #aaa;
	text-align: center;
	margin-left: 5px;
	line-height: 13px;
	color: #fefefe;
	cursor: pointer;

}

.main_weiboArea{width: 640px;}
.ui_tab_v2 {
	border: 0;
	border-bottom: 1px solid #E4E4E4;
	background: #fff;

}
.ui_tab{
	width: 580px;
	height: 30px;
	margin: auto;
	z-index: 10;
	top:36px;

}
.ui_tab_fixed {
	padding: 32px 0 0 0;
}

.ui_tab_fixed .ui_tab {
	position: fixed;
	top: 35px;
	width: 580px;
	z-index: 298;
	padding: 0 30px 0 30px;
}

.ui_tab_v2 .ui_tab_lst{
	float: left;
}
.select{
	border-bottom:3px solid #229bd7;
	font-weight: bold;
	color:#000;
}

.ui_tab_lst .unit{
	float: left;
	height: 30px;
}
.ui_tab_lst .unit:hover{
	border-bottom:3px solid #ccc;
}
.ui_tab_lst .unit a{
	text-decoration: none;
	display: block;
	padding: 3px 12px;
	font-size: 12px;
	color: #666;


}

.ui_tab_opt{
	
	height: 30px;
	float: right;
}
.ui_tab_opt .ic {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 9px 6px 0 0;
	vertical-align: middle;
	background: url(images/b1_20140716.png) no-repeat;
	
}
.ui_tab_opt .btn_feedsType {
	background-position: -308px 0px;
}
.ui_tab_opt .btn_manage {
	background-position: -323px 0px;
}
.feed_stats {
	padding: 5px 30px 0;
}
.LC {
	padding: 0 30px;
}
#talklist >li{
	width: 100%;
	padding: 16px 0 18px;
	border-bottom: 1px dotted #e4e4e4;
	line-height: 23px;
	overflow-y: hidden;
}

#talkList li:hover{
	border-bottom: 1px dotted #D8D8D8;
}

.userPic {
	float: left;
	padding: 4px 15px 4px 0px;
	width: 50px;
	height: 51px;
}
.userPic img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
}
.msgBox{
	float: left;
	overflow: hidden;
	width: 515px;
}
.userName {
	height: 23px;
	font-size: 14px;
	line-height: 23px;
	color: #999;
}

.multiMedia .mediaWrap {
	padding-top: 0;
	float: left;
	clear: none;
	margin: 8px 0 0 0;
}
.multiMedia .tl_imgGroup {
	float: left;
	overflow: hidden;
	padding-top: 2px;
}
.tl_imgNum_9 {
	width: 260px;
}
.tl_imgGroup_item {
	float: left;
	width: 85px;
	height: 85px;
	overflow: hidden;
}
.tl_imgGroup_link {
	display: block;
	width: 80px;
	height: 80px;
	overflow: hidden;
	position: relative;
}

.pubInfo {
	clear: both;
	margin-top: 6px;
	line-height: 19px;
	color: #999;
}
.c_tx5 {
	color: #999;
}
.pubInfo .cmd_text {
	color: #5FA147;
}

a, .c_tx {
color: #006a92;
}

.pubInfo .funBox {
	float: right;
	padding-right: 0;
	white-space: nowrap;
}
.zanic{
	display: block;
	width: 16px;
	height: 16px;
	float: left;

	background: url(images/b1_20140716.png) no-repeat;	
	background-position: -290px -112px;
	cursor: pointer;
	vertical-align: -2px;
	
}



.talkWrap{
	float: right;
	width: 493px;
	position: relative;
	margin: 11px 0 4px;
	padding: 6px 10px 0;
	overflow: hidden;
	border: 1px solid #DEE3E3;
	background-color: #F7F7F7;
}
.talkWrap .top {
	width: 100%;
	color: #999;
	line-height: 19px;
	overflow: hidden;
}

.close {
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	background: url(images/b1_wide_130422.png) no-repeat;
	background-position: -232px -83px;
}
 .talkWrap .cont {
	position: relative;
	margin: 4px 0;
	border: 1px solid #CDCDCD;
	height: 47px;
}
.inputTxt{
	overflow-y: hidden; height: 37px;
	 padding:5px;
	 border: 0;
	 width: 480px;
	 outline: none;
}
.bot {
	width: 100%;
	height: 35px;
	font-size: 12px;
	/*line-height: 31px;*/
}

.bot .insertFun {
	float: left;
	margin: 4px 6px 0 0;
	padding: 0;
	background: none;
	height: 16px;
	width: 30%;
	
}
.bot .insertFun .sendlist{
	width: 16px;
	height: 16px;
	margin-top: 0px;
}


.bot .left{
	float: left;
	height: 19px;
	/*width: 65px;*/
	margin-top: 2px;
	margin-right: 10px;
	line-height: 19px;

}
#replayListCheckbox{
	
	vertical-align: middle;
}
.talkWrap .inputBtn{
	width: 60px;
	height: 19px;
	margin-top: 6px;
	display: block;
	float: right;

}
.replysendBtn{
	background: url(images/b2_20131129.png) no-repeat;
	background-position: -124px -192px;
	margin-left: 15px;
}
.talkWrap .countTxt{
	float: right;
}

.relayList{
	width: 483px;

	overflow: hidden;
	padding: 0 15px;
	padding-bottom: 10px;
	margin: 0 -10px;
	border-top: 1px solid #ccc;
}
.replylist li{
	padding: 4px 0;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;

}
.replylist .msgBox{
	width: 100%;
	overflow: hidden;
}
.replylist .msgCnt {
	font-size: 12px;
	line-height: 18px;
}
.replylist .content {
	margin: 0 4px 0 0;
}
.replylist .pubInfo {
	margin-top: 1px;
}
.cNote {	
	display: inline-block;
	display: inline;
	float: left;
}
.cNote a{
		color: #C1C1C1;
}
.alarm {
	display: block;
	float: left;
	margin-left: 10px;
	color: #C1C1C1;
}

.replyCite{
	display: block;
	float: right;
	margin-right: 10px;
}
.side {
	float: right;
	padding-bottom: 30px;
	width: 319px;
}
.sc_profile_w {
	padding: 18px 0 0 0;
}

.c1 {
	padding: 0 25px 3px;
	height: 88px;
}

.m_profile_h .lc {
	padding-top: 2px;
	position: relative;
	z-index: 1;
	float: left;
}
.m_profile_h .avatar {
	width: 80px;
	height: 80px;
	border: 0;
	padding: 0;
	display: block;
	background: none;
}
.m_profile .avatar img {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 5px;
}

.m_profile_h .rc {
	float: right;
	width: 179px;
	min-height: 88px;
}
.tit{
	height: 19px;
	line-height: 19px;
}
.m_profile_h .text_user {
	font-weight: normal;
	font-size: 14px;
	display: block;
	float: left;
}

.ico_level {
	width: 37px;
	display: block;
	float: left;
	background: url(images/b1_20140716.png) no-repeat;
	background-position: -54px -126px;
}

.ico_level em {
display: block;
width: 8px;
height: 7px;
overflow: hidden;
margin: 6px 0 0 26px;
line-height: 20em;
}
.wbL3 em {
	background: url(images/b1_20140716.png) no-repeat;
background-position: -80px -118px;
}
.m_profile_h .mood_info {
	padding-top: 2px;
	line-height: 20px;
}
.opt{
	opacity: 0.6;
}
.m_profile_h .mood_info .opt .text_link {
	margin-right: 14px;
}

 .c2 {
 	margin-top: 5px;
	height: 49px;
	background: #B6DFEF;

}
.m_profile_h .list .stat {
	height: 40px;
	padding-top: 9px;
	
	display: inline-block;
	text-align: left;
}
.m_profile_h .list .text_count {
	display: block;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	font-weight: 500;
	font-family: Arial;
}
.m_profile_h .list .text_atr {
	display: block;
}
.list li{
	float: left;
}
.m_profile_h .list .item_prose {
	min-width: 58px;
	padding: 0 0 0 25px;
	text-align: left;

}
.line_bor{
	padding-top: 10px;
}
.foFun {
	display: block;
	padding: 0;
	margin: 0;
	height: 29px;
	width: 1px;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	filter: alpha(Opacity=50);
	opacity: 0.5;
	background: #89B4CA;
	
}
.m_profile_h .list .item_favorite {
	min-width: 70px;
}
.m_profile_h .list .item_follow {
	min-width: 76px;
}
.m_profile_h .list .item_fans {
	min-width: 80px;
}
.m_profile_h .list .list_item {
	position: relative;
	z-index: 1;
	text-align: center;
}
#medal_for_apollo{
	width: 319px;
	height: 50px;
	border-bottom: 1px solid #A3E0F5;
}
.m_profile_h .c3 {
	padding: 10px 0 8px;
}
.m_profile_h .c3 .badgeBox {
	padding-left: 25px;
	font-size: 0;
	height: 32px;
}
.ico_badge {
	
	position: relative;
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	padding: 2px 3px 3px 2px;
	margin: 0 8px 3px 0;
	overflow: hidden;
	vertical-align: middle;
	visibility: visible;
	background-image: url(images/b6_130415.png);
	background-repeat: no-repeat;
}
.ico_badge img {
	width: 22px;
	height: 22px;
}
 .ico_badge_more .text {
	display: block;
	width: 100%;
	height: 100%;
	font: bold 12px/18px Georgia,Tahoma,Arial;
	text-align: center;
	cursor: pointer;
	color: #b6b6b6;
}
.m_profile_h .medal_arr {
	position: absolute;
	margin: 0 0 -14px 143px;
	width: 31px;
	height: 13px;
	overflow: hidden;
	z-index: 99;
}
.m_profile_h .medal_arr a {
display: block;
width: 100%;
height: 100%;
background-image: url(images/xz_arr_b_130704.png);
background-repeat: no-repeat;
}
.m_profile_h .medal_arr a:hover{
	background-position: 0 -15px;
}

.widgetWrap{
	overflow: hidden;
	width: 319px;
}
#app_photoVote{
	overflow: hidden;
	width: 100%;
	padding-top: 12px;
}


.sc_fb_hd {
	padding-right: 15px;
}
.sc_fb_hd img {
	display: none !important;
}
.mobileBox {
	width: 260px;
	padding: 3px 10px 5px;
	border: 1px solid #A8E4FA;
	background: #E7F9FF;
	margin: auto;
}
.sc_fb_pn {
	padding: 10px 0 5px 15px;
}

.sc_fb_bd {
	padding-top: 10px;
	margin-bottom: 8px;
	width: 260px;
	overflow: hidden;
}
.tl_picVote_lst {
	width: 260px;
	overflow: hidden;
}
.tl_picVote_item {
	width: 127px;
	height: 123px;
	float: left;
	position: relative;
}
.tl_picVote_item .pic img {
	width: 112px;
	height: 108px;
}
.ui_c{
	width: 40px;
	height:40px;
	cursor: pointer;
	border-radius: 40px;
	background-color: #333;
	position: absolute;
	left: 5px;
	bottom: 16px;
	z-index: 10;
	opacity: 0.6;
	background-image: url(images/ui_c_a_bor.png);
}
.ui_c:hover{
	background-color: blue;
}

.ic_ok {
	width: 16px;
	height: 16px;
	margin-right: 3px;
	display: block;
	float: left;
	background: url(images/b1_20140716.png) no-repeat;
	background-position: -149px -265px;
}
.picVotebottom{
	margin-left: -15px;
	padding-left: 15px;
	border: 0;
	border-top: 1px solid #A8E4FA;
}