*{margin: 0;padding: 0;}
li,ul{list-style: none;}
body{
	font-size: 12px;
}
img{border:none;width: 100%;height: auto;}
a{text-decoration: none; cursor: pointer;}
input{outline: none;}
.clear{
	clear:both;
}

.mengban{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: #ccc;
	/*background: rgba(255, 255, 255, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#BBffffff,endcolorstr=#BBffffff);*/
}
.addfriend{
	position: absolute;
	bottom: 0;
	right: 0;
}
.addfriend a{
	font-size: 20px;
	font-weight: bold;
}
.addfriendArea{
	width: 600px;
	height: 400px;
	position: fixed;
	border:1px solid #ccc;
	z-index: 10001;
	top:30px;
	left: 27%;
	right: 27%;
	margin: auto; 
	display: none;

}
.addfriendinfoArea{
	width: 356px;
	margin: auto;
	margin-top: 20px;
	margin-bottom:20px; 
	position: relative;
}
.mydialogArea{
	overflow: hidden;
}
.spaninput{
	display: block;
	width: 50px;
	height: auto;
	float: left;
}

.addfriendinfoArea p{
	line-height: 40px;
	padding-top: 20px;
}
#adduseraccount,#addusername{
	width: 230px;
	height: 40px;
	font-size: 18px;
}


.addfriendbtnArea{
	width: 250px;
	margin: auto;
}
.searchfriendbtn{
	width: 200px;
	height: 50px;
	border: 0;
	cursor: pointer;
}
.closeaddfriendArea{
	width: 30px;
	height: 30px;
	position: absolute;
	top:0;
	right: 0;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}
.searchresultlist{
	width: 350px;
	height: 100px;
	padding: 10px;
	margin: auto;
	margin-top:20px; 
	overflow: auto;
	border:1px solid #ccc;
}
.searchresultlist li{
	text-align: center;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
}
.colum{
	width: 110px;
	float: left;
	display: block;
}




.main{
	width: 1000px;
	min-width: 800px;
	height: auto;

}

.friendlistArea{
	width: 300px;
	height: 600px;
	border:1px solid #ccc;
	margin-left: 10px;
	float: left;
	position: relative;
}

.logoutbtn{
	width: 50px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	background: #ccc;
	padding: 5px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.userinfoArea{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #ccc;
}

.userheadimgArea{
	width: 60px;
	height: 60px;
	margin: 10px;
	
	float: left;
}
.userProfile{
	width: 200px;
	height: 60px;
	margin-top:10px; 
	position: relative;
	float:left;
}
.userProName{
	font-size: 14px;
	font-weight: bold;
	color: #888;
	text-decoration: none;
}

.friendlistul{
	width: auto;
	padding: 20px 10px 20px 10px;
	height: 480px;
	overflow: auto;
}

.friendlistli{
	width: 100%;
	height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.friendlisthead{
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #ccc;
	float: left;
}

.friendInfoArea{
	width: 205px;
	height: 40px;
	float: right;
	cursor: pointer;
}
.friendnickname{
	display: block;
	color: #666;
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: bold;
}

.statetitleon,.statetitleoff{
	display: block;
	background: #eee;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #888;
	cursor: pointer;
	margin-top: 5px;
}


.talkArea{
	
	width: 687px;
	height: auto;

	float: right;
	overflow: hidden;
	position: relative;
}
.talkheader{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	background: #ccc;
	
}
.talkhistory{
	width: auto;
	height: 500px;
	overflow: auto;
}

.talkform{
	width: 99%;
	height: 600px;
	position: relative;
	border:1px solid #ccc;
	display: none;
}

.talktext{
	padding: 10px;
}
.inputtxt{
	width: auto;
	height: auto;
	float: left;
}
.inputmessage{
	width: 500px;
	border:1px solid #ccc;
	height: 40px;
	padding-left: 10px;
	font-size: 18px;
	color: #555;
}
.talksendbtn{
	float: left;
	width: auto;
	height: auto;

}

.msgsendbtn{
	width: 100px;
	height: 40px;
	border:1px solid #ccc;
	cursor: pointer;
}


.messageicon{
	display: none;
	width: 5px;
	height: 5px;
	background: red;
	float: right;
	margin-right: 15px\9;

}

.friendconversationArea{
	margin-top: 10px;
	
	padding: 10px 100px 10px 50px;

	overflow: hidden;
}
.myconversationArea{
	margin-top: 10px;

	padding: 10px 50px 10px 100px;
	
	overflow: hidden;
}
.frienddialog{	
	float: left;
	padding: 5px;
	background: #ccc;
	border-radius: 5px;
	word-break:break-all;
}
.mydialog{	
	float: right;
	padding: 5px;
	background: #ccc;
	border-radius: 5px;
	word-break:break-all;
	margin-right: 10px;
}
.friendtalkheadpic{
	
	width: 30px;
	height: 30px;
	background: #ccc;
	margin-left: -40px;
	float: left;
}
.mytalkheadpic{
	
	width: 30px;
	height: 30px;
	background: #ccc;
	margin-right: -30px;
	float: right;
}

.frienddialogArea{
	width: 100%;
	overflow: hidden;
}
.mydialogArea{
	width: 100%;
	overflow: hidden;
}
.frienddialogArea{
	width: 100%;
	overflow: hidden;
}
.addfriendicon{
	
	position: absolute;
	bottom: 0;
	right: 5px;
	font-size: 20px;
	cursor: pointer;
	font-weight: 9000;
	font-weight: bold;
	
}

.requesticon{
	position: absolute;
	bottom: 4px;
	right:-5px;
	cursor: pointer;
	font-weight: bold;
	color: red; 
}

.closetalkform{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	font-weight: bold;
	font-size:20px;
}
.closetalkformspan{
	cursor:pointer;
}
.requestlistArea{
	width: 500px;
	height: 160px;
	padding: 20px;
	border: 1px solid #ccc;
	margin: auto;
	position: relative;
	display: none;
}
.closerequestlistArea{
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
.requestlistul{
	width: 400px;
	height: 130px;
	margin: auto;
	overflow: auto;
}
.requestlistul li{
	overflow: hidden;
}
.colum2{
	width: 230px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: center;
}
.colum3{
	width: auto;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: center;

}
