*{margin: 0;padding: 0;}
li,ul{list-style: none;}
img{border:none;width: 100%;height: auto;}
input{outline: none;}
.clear{
	clear:both;
}
.main{
	width: 1000px;
	min-width: 800px;
	height: auto;

}

.friendlistArea{
	width: 300px;
	height: 600px;
	border:1px solid #ccc;
	margin-left: 10px;
	float: left;
	position: relative;
}

.logoutbtn{
	width: 50px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	background: #ccc;
	padding: 5px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.userinfoArea{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #ccc;
}

.userheadimgArea{
	width: 60px;
	height: 60px;
	margin: 10px;
	
	float: left;
}
.userProfile{
	width: 200px;
	height: 60px;
	margin-top:10px; 

	float:left;
}
.userProName{
	font-size: 14px;
	font-weight: bold;
	color: #888;
	text-decoration: none;
}

.friendlistul{
	width: auto;
	padding: 20px 10px 20px 10px;
	height: 480px;
	overflow: auto;
}

.friendlistli{
	width: 100%;
	height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.friendlisthead{
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #ccc;
	float: left;
}

.friendInfoArea{
	width: 225px;
	height: 40px;
	float: right;
	cursor: pointer;
	position: relative;
}
.friendnickname{
	display: block;
	color: #666;
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: bold;
}

.statetitleon,.statetitleoff{
	display: block;
	background: #eee;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #888;
	cursor: pointer;
	margin-top: 5px;
}


.talkArea{
	
	width: 687px;
	height: auto;

	float: right;
	overflow: hidden;
	position: relative;
}
.talkheader{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	background: #ccc;
}
.talkhistory{
	width: auto;
	height: 500px;
	overflow: auto;
}

.talkform{
	width: 99%;
	height: 600px;
	
	border:1px solid #ccc;
	display: none;
}

.talktext{
	padding: 10px;
}
.inputtxt{
	width: auto;
	height: auto;
	float: left;
}
.inputmessage{
	width: 500px;
	border:1px solid #ccc;
	height: 40px;
	padding-left: 10px;
	font-size: 18px;
	color: #555;
}
.talksendbtn{
	float: left;
	width: auto;
	height: auto;

}

.msgsendbtn{
	width: 100px;
	height: 40px;
	border:1px solid #ccc;
	cursor: pointer;
}


.messageicon{
	display: none;
	width: 5px;
	height: 5px;
	background: red;
	position: absolute;
	right: 5px;
	top: 5px;
}

.friendconversationArea{
	margin-top: 10px;
	position: relative;
	padding: 10px 100px 10px 50px;

	overflow: hidden;
}
.myconversationArea{
	margin-top: 10px;
	position: relative;
	padding: 10px 50px 10px 100px;
	
	overflow: hidden;
}
.frienddialog{	
	float: left;
	padding: 5px;
	background: #ccc;
	border-radius: 5px;
	word-break:break-all;
}
.mydialog{	
	float: right;
	padding: 5px;
	background: #ccc;
	border-radius: 5px;
	word-break:break-all;
}
.friendtalkheadpic{
	position: absolute;
	width: 30px;
	height: 30px;
	background: #ccc;
	top: 0;
	left: 10px;
}
.mytalkheadpic{
	position: absolute;
	width: 30px;
	height: 30px;
	background: #ccc;
	top: 0;
	right: 10px;
}

.frienddialogArea{
	width: 100%;

}